.abouttext {

    position: relative;
    animation: mymove 4s;
}

.info {
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'Finger Paint';
    color: whitesmoke
}

.p {
    font-size: 25px;
    margin-bottom: 10;
    font-family: 'Finger Paint';
    color: whitesmoke
}

@keyframes mymove {
    0% {
        top: 200px;
        opacity: 0;
    }





    100% {
        top: 0px;
        opacity: 1;
    }
}