.download {
    background-color: rgba(255, 255, 255, 0.322);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Finger Paint';
    border-radius: 25px;
    position: relative;
    animation: mymove 3s;

}

.download:hover {
    background-color: rgba(255, 255, 255, 0.603);
    /* box-shadow: 8px 8px 10px 4px white; */
}

@keyframes mymove {
    from {
        top: 200px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}