.homeheader {
    font-family: 'Barrio';
    text-shadow: 20px 3px 2px rgb(104, 148, 168);
    font-weight: 999;
    color: rgba(255, 255, 255, 0.863);
    border-color: black;
    /* font-variant-caps: all-petite-caps; */
    transform: scaleX(-1.0);
    transform: scaleY(1.3);


}